@model BlackJackApp.Services.RoundViewModel
<h2>CurrentGame</h2>
<div>
    @Html.Partial("StartNextRoundForPlayers")
</div>

<div>
    @using (Ajax.BeginForm("StartNextRoundForPlayers", "Game", new AjaxOptions
    {
        UpdateTargetId = "refTable"
    }))
    {
        <table class="table">
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(r => Model.Users[i].UserName)
                        @Html.HiddenFor(r => Model.Users[i].GameId)
                        @Html.HiddenFor(r => Model.Users[i].PlayerId)
                        @Html.HiddenFor(r => Model.Users[i].RoundId)
                        @Html.HiddenFor(r => Model.Users[i].PlayerStatus)
                        @Html.HiddenFor(r => Model.Users[i].PlayerRole)
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="Take" id="btnSubmit" />
    }
</div>
<div>
    @using (Ajax.BeginForm("StartNextRoundForDealer", "Game", new AjaxOptions
    {

        UpdateTargetId = "refTable"
    }))
    {
        <table class="table">
            @for (int i = 0; i < Model.Users.Count; i++)
            {
                <tr>
                    <td>
                        @Html.HiddenFor(r => Model.Users[i].UserName)
                        @Html.HiddenFor(r => Model.Users[i].GameId)
                        @Html.HiddenFor(r => Model.Users[i].PlayerId)
                        @Html.HiddenFor(r => Model.Users[i].RoundId)
                        @Html.HiddenFor(r => Model.Users[i].PlayerStatus)
                        @Html.HiddenFor(r => Model.Users[i].PlayerRole)
                        @Html.HiddenFor(r => Model.Users[i].CardSum)
                        @for (int j = 0; j < Model.Users[i].Cards.Count; j++)
                        {
                            @Html.HiddenFor(r => Model.Users[i].Cards[j].CardRank)
                            @Html.HiddenFor(r => Model.Users[i].Cards[j].CardSuit)
                            @Html.HiddenFor(r => Model.Users[i].Cards[j].CardWeight)
                        }
                    </td>
                </tr>
            }
        </table>
        <input type="submit" value="enough" id="btnSubmit" />
    }
</div>



